.user-box
  %p Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .user-box__form-box
      .user-box__form-box__input-box
        .user-box__form-box__input-box__field
          = f.label :nickname
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
        .user-box__form-box__input-box__field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        %br/
        .user-box__form-box__input-box__field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .user-box__form-box__input-box__field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
      .user-box__form-box__actions
        = f.submit "Sign up"
  .user-box__link
    = render "devise/shared/links"
