%body
  .side-bar
    .side-bar__user-box
      .side-bar__user-box__user-name
        %p
          = current_user.nickname
      .side-bar__user-box__email
        %p
          = current_user.email
      .side-bar__user-box__reference-folder
        %p
          参照フォルダ
      %ul
        %li.side-bar__user-box__log-out
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          =fa_icon "sign-out"
        %li.side-bar__user-box__setting
          =fa_icon "cog"
    .side-bar__content-boxes
      .side-bar__content-boxes__search-box
        = "Contents"
        = "Title"
        = "Artists"
        = "Genre"
        %input#file-upload-audio{type: 'file', accept: "audio/*", multiple: true}
      .side-bar__content-boxes__playlists-box
        = "Playlists"
  .music-player
    .music-player__album-work
      %img#album-work
    #name_artists.music-player__name_artists
    .music-player__music-components
      %ul
        %li.music-player__music-components__forward
          =fa_icon "step-backward", {id: "step-backward"}
        %li.music-player__music-components__stop
          =fa_icon "stop", {id: "stop"}
        %li.music-player__music-components__pause#pause
          =fa_icon "pause", {id: "pause"}
        %li.music-player__music-components__play#play
          =fa_icon "play", {id: "play"}
        %li.music-player__music-components__backward
          =fa_icon "step-forward", {id: "step-forward"}
        %li.music-player__music-components__volume-down
          =fa_icon "volume-down", {id: "volume-down"}
        %li.music-player__music-components__volume-controller
          %input{type: 'range', id: "volume-range", min: 0.0, max: 1.0, value: 0.8, step: 0.01}
        %li.music-player__music-components__volume-up
          =fa_icon "volume-up", {id: "volume-up"}
        %li.music-player__music-components__seekBar
          %progress{id: "seek-bar", max: 100.0, value: 0.0}
        .music-player__music-components__current-time
          %span{id: "current-time"}
            00:00:00
        .music-player__music-components__music-time
          %span{id: "music-time"}
            00:00:00
    .music-player__visualiser
  .music-lists
    %table#music-lists-table
      %thead
        %tr#head-record
          %th#head-ID
            ID
          %th#head-titles
            titles
          %th#head-artists
            artists
          %th#head-album
            album
          %th#head-album-artists
            album artists
          %th#head-length
            length
          %th#head-genres
            genre
      %tbody#music-lists-tunes
  .footer-setting