%body
  .sideBar
    .sideBar__userBox
      = "ユーザー名"
      = "e-mailアドレス"
      = "参照フォルダ"
      %ul
        %li.sideBar__userBox__setting
          =fa_icon "cog"
        %li.sideBar__userBox__logOut
          =fa_icon "sign-out"
    .sideBar__contentBoxes
      .sideBar__contentBoxes__searchBox
        = "Contents"
        = "Title"
        = "Artists"
        = "Genre"
      .sideBar__contentBoxes__playlistsBox
        = "Playlists"
  .musicPlayer
    .musicPlayer__albumWork
    .musicPlayer__name_artists
      %label{for: 'file-upload-audio'}
        SELECT AUDIO FILE：
        %span#progress-file-upload-audio

      %input#file-upload-audio{type: 'file'}
    .musicPlayer__musicComponents
      %ul
        %li.musicPlayer__musicComponents__Forward
          =fa_icon "backward", {id: "backward"}
        %li.musicPlayer__musicComponents__stop
          =fa_icon "stop", {id: "stop"}
        %li.musicPlayer__musicComponents__pause
          =fa_icon "pause", {id: "pause"}
        %li.musicPlayer__musicComponents__play
          =fa_icon "play", {id: "play"}
        %li.musicPlayer__musicComponents__backward
          =fa_icon "forward", {id: "forward"}
        %li.musicPlayer__musicComponents__volume-down
          =fa_icon "volume-down", {id: "volume-down"}
        %li.musicPlayer__musicComponents__volume-controller
          %input{type: 'range', id: "volume-range"}
        %li.musicPlayer__musicComponents__volume-up
          =fa_icon "volume-up", {id: "volume-up"}
        %li.musicPlayer__musicComponents__seekBar
          %input{type: 'range', id: "seekbar"}
        .musicPlayer__musicComponents__current-time
          %span{id: "currentTime"}
            00:00:00
        .musicPlayer__musicComponents__music-time
          %span{id: "musicTime"}
            00:00:00


    .musicPlayer__visualiser
  .musicLists
    -# %input#tableMusicLists{type: 'text'}
    %table#MusicListsTable
      %thead
        %tr
          %th
            jackets
          %th
            titles
          %th
            artists
          %th
            length
          %th
            genre
          %th
            address
      %tbody
        %tr
          %th
            jackets
          %th
            titles
          %th
            artists
          %th
            length
          %th
            genre
          %th
            address
        %tr
          %th
            jackets
          %th
            titles
          %th
            artists
          %th
            length
          %th
            genre
          %th
            address
    -# %ul
    -#   %li.musicLists__jackets
    -#     = "jacket"
    -#   %li.musicLists__titles
    -#     = "titles"
    -#   %li.musicLists__artists
    -#     = "artists"
    -#   %li.musicLists__length
    -#     = "length"
    -#   %li.musicLists__genre
    -#     = "genre"
    -#   %li.musicLists__addresses
    -#     = "address"
  .footerSetting