%body
  .sideBar
    .sideBar__userBox
      = "ユーザー名"
      = "e-mailアドレス"
      = "参照フォルダ"
      %ul
        %li.sideBar__userBox__setting
          =fa_icon "cog"
        %li.sideBar__userBox__logOut
          =fa_icon "sign-out"
    .sideBar__contentBoxes
      .sideBar__contentBoxes__searchBox
        = "Contents"
        = "Title"
        = "Artists"
        = "Genre"
      .sideBar__contentBoxes__playlistsBox
        = "Playlists"
  .musicPlayer
    .musicPlayer__albumWork
    #name_artists.musicPlayer__name_artists

    .musicPlayer__musicComponents
      %ul
        %li.musicPlayer__musicComponents__Forward
          =fa_icon "step-backward", {id: "step-backward"}
        %li.musicPlayer__musicComponents__stop
          =fa_icon "stop", {id: "stop"}
        %li.musicPlayer__musicComponents__pause#pause
          =fa_icon "pause", {id: "pause"}
        %li.musicPlayer__musicComponents__play#play
          =fa_icon "play", {id: "play"}
        %li.musicPlayer__musicComponents__backward
          =fa_icon "step-forward", {id: "step-forward"}
        %li.musicPlayer__musicComponents__volume-down
          =fa_icon "volume-down", {id: "volume-down"}
        %li.musicPlayer__musicComponents__volume-controller
          %input{type: 'range', id: "volume-range", min: 0.0, max: 1.0, value: 0.8, step: 0.01}
        %li.musicPlayer__musicComponents__volume-up
          =fa_icon "volume-up", {id: "volume-up"}
        %li.musicPlayer__musicComponents__seekBar
          %progress{id: "seek-bar", max: 100.0, value: 0.0}
        .musicPlayer__musicComponents__current-time
          %span{id: "current-time"}
            00:00:00
        .musicPlayer__musicComponents__music-time
          %span{id: "music-time"}
            00:00:00


    .musicPlayer__visualiser
      %input#file-upload-audio{type: 'file', accept: "audio/*", multiple: true}
  .musicLists
    -# %input#tableMusicLists{type: 'text'}
    %table#MusicListsTable
      %thead
        %tr
          %th
            jackets
          %th
            titles
          %th
            artists
          %th
            length
          %th
            genre
          %th
            address
      %tbody
        %tr
          %th
            jackets
          %th
            titles
          %th
            artists
          %th
            length
          %th
            genre
          %th
            address
        %tr
          %th
            jackets
          %th
            titles
          %th
            artists
          %th
            length
          %th
            genre
          %th
            address
    -# %ul
    -#   %li.musicLists__jackets
    -#     = "jacket"
    -#   %li.musicLists__titles
    -#     = "titles"
    -#   %li.musicLists__artists
    -#     = "artists"
    -#   %li.musicLists__length
    -#     = "length"
    -#   %li.musicLists__genre
    -#     = "genre"
    -#   %li.musicLists__addresses
    -#     = "address"
  .footerSetting